
<div class="row text-center">
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-check-circle fa-2x text-success"></i>
        <h5 class="card-title mt-2">OK</h5>
        <p class="card-text">{{ okCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-times-circle fa-2x text-danger"></i>
        <h5 class="card-title mt-2">NG</h5>
        <p class="card-text">{{ ngCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
        <h5 class="card-title mt-2">NR</h5>
        <p class="card-text">{{ nrCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-question-circle fa-2x text-info"></i>
        <h5 class="card-title mt-2">SK</h5>
        <p class="card-text">{{ skippedCount }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-0">
  <div class="col-md-4">
    <div class="alert alert-dark" role="alert">
      <strong>Alarm:</strong> {{ alaram }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="alert alert-dark" role="alert">
      <strong>Machine:</strong> {{ machineMessage }}
    </div>
  </div>
    <div class="col-md-4">
    <div class="input-group" style="width: 500px; height: 50px;">
      <input type="text" class="form-control" placeholder="Enter Description or variant Code...">
      <div class="input-group-append">
        <button class="btn btn-primary" style=" height: 50px;" type="button">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="table-responsive ">
  <table class="table table-bordered table-sm text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>Barcode</th>
        <th *ngFor="let stage of stageHeaders">{{ stage }}</th>
      </tr>
    </thead>
    <tbody class="current-pair">
      <tr *ngFor="let barcode of barcodes">
        <td>{{ barcode.name }}</td>
        <td *ngFor="let color of barcode.stages" [ngClass]="getStageClass(color)">
          <i *ngIf="getStageIcon(color)" [class]="getStageIcon(color)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-responsive " *ngIf="barcodeHistory.length > 0">
  <table class="table table-bordered table-sm text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>Barcode</th>
        <th *ngFor="let stage of stageHeaders">{{ stage }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let record of barcodeHistory">
        <!-- Barcode 1 -->
        <tr>
          <td>{{ record.data.set1.barcode1|| 'BARCODE-1' }}</td>
          <td *ngFor="let color of [
            record.data.set1.InputStation,
            record.data.set1.Trace,
            record.data.set1.Process,
            record.data.set1.MES,
            record.data.set1['Transfer-1'],
            record.data.set1['Vision-1'],
            record.data.set1['PickPlace-1'],
            record.data.set1['Transfer-2'],
            record.data.set1['Vision-2'],
            record.data.set1['PickPlace-2'],
            record.data.set1.TraceUpload,
            record.data.set1.MESUpload,
            record.data.set1.UnloadStation
          ]" [ngClass]="getStageClass(color)">
            <i *ngIf="getStageIcon(color)" [class]="getStageIcon(color)"></i>
          </td>
        </tr>
        <!-- Barcode 2 -->
        <tr>
          <td>{{ record.data.set1.barcode2 || 'BARCODE-2' }}</td>
          <td *ngFor="let color of [
            record.data.set1.InputStation,
            record.data.set1.Trace,
            record.data.set1.Process,
            record.data.set1.MES,
            record.data.set1['Transfer-1'],
            record.data.set1['Vision-1'],
            record.data.set1['PickPlace-1'],
            record.data.set1['Transfer-2'],
            record.data.set1['Vision-2'],
            record.data.set1['PickPlace-2'],
            record.data.set1.TraceUpload,
            record.data.set1.MESUpload,
            record.data.set1.UnloadStation
          ]" [ngClass]="getStageClass(color)">
            <i *ngIf="getStageIcon(color)" [class]="getStageIcon(color)"></i>
          </td>
        </tr>
        <!-- Barcode 3 -->
        <tr>
          <td>{{ record.data.set2.barcode3 || 'BARCODE-3' }}</td>
          <td *ngFor="let color of [
            record.data.set2.InputStation,
            record.data.set2.Trace,
            record.data.set2.Process,
            record.data.set2.MES,
            record.data.set2['Transfer-1'],
            record.data.set2['Vision-1'],
            record.data.set2['PickPlace-1'],
            record.data.set2['Transfer-2'],
            record.data.set2['Vision-2'],
            record.data.set2['PickPlace-2'],
            record.data.set2.TraceUpload,
            record.data.set2.MESUpload,
            record.data.set2.UnloadStation
          ]" [ngClass]="getStageClass(color)">
            <i *ngIf="getStageIcon(color)" [class]="getStageIcon(color)"></i>
          </td>
        </tr>
        <!-- Barcode 4 -->
        <tr>
          <td>{{ record.data.set2.barcode4 || 'BARCODE-4' }}</td>
          <td *ngFor="let color of [
            record.data.set2.InputStation,
            record.data.set2.Trace,
            record.data.set2.Process,
            record.data.set2.MES,
            record.data.set2['Transfer-1'],
            record.data.set2['Vision-1'],
            record.data.set2['PickPlace-1'],
            record.data.set2['Transfer-2'],
            record.data.set2['Vision-2'],
            record.data.set2['PickPlace-2'],
            record.data.set2.TraceUpload,
            record.data.set2.MESUpload,
            record.data.set2.UnloadStation
          ]" [ngClass]="getStageClass(color)">
            <i *ngIf="getStageIcon(color)" [class]="getStageIcon(color)"></i>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
