
<div class="row text-center">
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-check-circle fa-2x text-success"></i>
        <h5 class="card-title mt-2">OK</h5>
        <p class="card-text">{{ okCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-times-circle fa-2x text-danger"></i>
        <h5 class="card-title mt-2">NG</h5>
        <p class="card-text">{{ ngCount }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
        <h5 class="card-title mt-2">NR</h5>
        <p class="card-text">25</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-dark text-light border-light">
      <div class="card-body">
        <i class="fas fa-question-circle fa-2x text-info"></i>
        <h5 class="card-title mt-2">SK</h5>
        <p class="card-text">250</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-0">
  <div class="col-md-4">
    <div class="alert alert-dark" role="alert">
      <strong>Alarm:</strong> {{ alaram }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="alert alert-dark" role="alert">
      <strong>Machine:</strong> {{ machineMessage }}
    </div>
  </div>
    <div class="col-md-4">
    <div class="input-group" style="width: 500px; height: 50px;">
      <input type="text" class="form-control" placeholder="Enter Description or variant Code...">
      <div class="input-group-append">
        <button class="btn btn-primary" style=" height: 50px;" type="button">Save</button>
      </div>
    </div>
  </div>
</div>




<div class="table-responsive mt-4">
  <table class="table table-bordered table-sm text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>BARCODE</th>
        <th>RADIUS 1</th>
        <th>RADIUS 2</th>
        <th>FAI 1516 1</th>
        <th>FAI 1516 2</th>
        <th>FAI 1516 3</th>
        <th>FAI 1516 4</th>
        <th>OVERALL RESULT</th>
      </tr>
    </thead>
    <tbody>
      <!-- Nest A Part 1 -->
      <tr>
        <td>{{ currentBarcodeData.barcode1 }}</td>
        <td>{{ currentBarcodeData.nap1.radius1 }}</td>
        <td>{{ currentBarcodeData.nap1.radius2 }}</td>
        <td>{{ currentBarcodeData.nap1.fai1 }}</td>
        <td>{{ currentBarcodeData.nap1.fai2 }}</td>
        <td>{{ currentBarcodeData.nap1.fai3 }}</td>
        <td>{{ currentBarcodeData.nap1.fai4 }}</td>
        <td [ngClass]="getResultClass(currentBarcodeData.nap1.overall_result)">
          {{ getResultText(currentBarcodeData.nap1.overall_result) }}
        </td>
      </tr>
      
      <!-- Nest A Part 2 -->
      <tr>
        <td>{{ currentBarcodeData.barcode2 }}</td>
        <td>{{ currentBarcodeData.nap2.radius1 }}</td>
        <td>{{ currentBarcodeData.nap2.radius2 }}</td>
        <td>{{ currentBarcodeData.nap2.fai1 }}</td>
        <td>{{ currentBarcodeData.nap2.fai2 }}</td>
        <td>{{ currentBarcodeData.nap2.fai3 }}</td>
        <td>{{ currentBarcodeData.nap2.fai4 }}</td>
        <td [ngClass]="getResultClass(currentBarcodeData.nap2.overall_result)">
          {{ getResultText(currentBarcodeData.nap2.overall_result) }}
        </td>
      </tr>
      
      <!-- Nest B Part 1 -->
      <tr>
        <td>{{ currentBarcodeData.barcode3 }}</td>
        <td>{{ currentBarcodeData.nbp1.radius1 }}</td>
        <td>{{ currentBarcodeData.nbp1.radius2 }}</td>
        <td>{{ currentBarcodeData.nbp1.fai1 }}</td>
        <td>{{ currentBarcodeData.nbp1.fai2 }}</td>
        <td>{{ currentBarcodeData.nbp1.fai3 }}</td>
        <td>{{ currentBarcodeData.nbp1.fai4 }}</td>
        <td [ngClass]="getResultClass(currentBarcodeData.nbp1.overall_result)">
          {{ getResultText(currentBarcodeData.nbp1.overall_result) }}
        </td>
      </tr>
      
      <!-- Nest B Part 2 -->
      <tr>
        <td>{{ currentBarcodeData.barcode4 }}</td>
        <td>{{ currentBarcodeData.nbp2.radius1 }}</td>
        <td>{{ currentBarcodeData.nbp2.radius2 }}</td>
        <td>{{ currentBarcodeData.nbp2.fai1 }}</td>
        <td>{{ currentBarcodeData.nbp2.fai2 }}</td>
        <td>{{ currentBarcodeData.nbp2.fai3 }}</td>
        <td>{{ currentBarcodeData.nbp2.fai4 }}</td>
        <td [ngClass]="getResultClass(currentBarcodeData.nbp2.overall_result)">
          {{ getResultText(currentBarcodeData.nbp2.overall_result) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>