<div class="machine-home-container">
  <div class="cards-wrapper">
    <!-- SCARA ROBOT YAMAHA Card -->
    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center"># SCARA ROBOT</h3>
        <div class="indicators-section">
          <div class="indicator-item" [class]="getStatusClass(data?.ROBOTMODE1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">ROBOT MODE</div>
              <div class="indicator-value">{{ data?.ROBOTMODE1 }}</div>
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.CONTROLLERSTATUS1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">CONTROLLER STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.scaraRobot.controllerStatus }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PROGRAMSTATUS1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PROGRAM STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.scaraRobot.programStatus }}</div> -->
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn" (mousedown)="sendCommand('ABORTPROGRAM1', true)"
            (mouseup)="sendCommand('ABORTPROGRAM1', false)">
            ABORT PROGRAM
          </button>
          <button class="toggle-btn" (mousedown)="sendCommand('HOMEPROGRAM1', true)"
            (mouseup)="sendCommand('HOMEPROGRAM1', false)">HOME PROGRAM</button>
          <button class="toggle-btn"
            (mousedown)="sendCommand('MAINPROGRAM1', true)" (mouseup)="sendCommand('MAINPROGRAM1', false)">MAIN
            PROGRAM</button>
          <button class="toggle-btn" (mousedown)="sendCommand('INITIALIZEPROGRAM1', true)"
            (mouseup)="sendCommand('INITIALIZEPROGRAM1', false)">INITIALIZE PROGRAM</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PAUSEPROGRAM1', true)"
            (mouseup)="sendCommand('PAUSEPROGRAM1', false)">PAUSE PROGRAM</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE1', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE1', false)">ERROR ACKNOWLEDGE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('CONTINUEPROGRAM1', true)"
            (mouseup)="sendCommand('CONTINUEPROGRAM1', false)">CONTINUE PROGRAM</button>
          <button class="toggle-btn" (mousedown)="sendCommand('STARTPROGRAM1', true)"
            (mouseup)="sendCommand('STARTPROGRAM1', false)">START PROGRAM</button>
        </div>
      </div>
    </div>

    <!-- LCMR YAMAHA (PALLET-1) Card -->
    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center"># LCMR (PALLET-1)</h3>
        <div class="indicators-section">
          <div class="indicator-item" [class]="getStatusClass(data?.LCMRMODE1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">LCMR MODE</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.lcmrMode  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.CONTROLLERSTATUS2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">CONTROLLER STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.controllerStatus  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PROGRAMSTATUS2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PROGRAM STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.programStatus  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1ACTUALPOS1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-1 ACTUAL POS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.actualPos }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1ACTUALSPEED1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-1 ACTUAL SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.actualSpeed }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1JOGSPEED1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-1 JOG SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.jogSpeed }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1TARGETPOS1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-1 TARGET POS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.targetPos }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1TARGETSPEED1 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-1 TARGET SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet1.targetSpeed }} </div> -->
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1HOME1', true)"
            (mouseup)="sendCommand('PALLET1HOME1', false)">PALLET-1 HOME</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1INITIALIZE1', true)"
            (mouseup)="sendCommand('PALLET1INITIALIZE1', false)">PALLET-1 INITIALIZE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1OPENABLE1', true)"
            (mouseup)="sendCommand('PALLET1OPENABLE1', false)">PALLET-1 OP ENABLE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1JOGFORWARD1', true)"
            (mouseup)="sendCommand('PALLET1JOGFORWARD1', false)">PALLET-1 JOG FORWARD</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1JOGREVERSE1', true)"
            (mouseup)="sendCommand('PALLET1JOGREVERSE1', false)">PALLET-1 JOG REVERSE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1START1', true)"
            (mouseup)="sendCommand('PALLET1START1', false)">PALLET-1 START</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1STOP1', true)"
            (mouseup)="sendCommand('PALLET1STOP1', false)">PALLET-1 STOP</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE2', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE2', false)">ERROR ACKNOWLEDGE</button>
        </div>
      </div>
    </div>


    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center"># LCMR (PALLET-2)</h3>
        <div class="indicators-section">
          <div class="indicator-item" [class]="getStatusClass(data?.LCMRMODE2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">LCMR MODE</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.lcmrMode  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.CONTROLLERSTATUS3 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">CONTROLLER STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.controllerStatus  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PROGRAMSTATUS3 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PROGRAM STATUS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.programStatus  }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1ACTUALPOS2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-2 ACTUAL POS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.actualPos }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1ACTUALSPEED2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-2 ACTUAL SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.actualSpeed }} </div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1JOGSPEED2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-2 JOG SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.jogSpeed }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1TARGETPOS2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-2 TARGET POS</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.targetPos }}</div> -->
            </div>
          </div>
          <div class="indicator-item" [class]="getStatusClass(data?.PALLET1TARGETSPEED2 === 1)">
            <div class="indicator-content">
              <div class="indicator-title">PALLET-2 TARGET SPEED</div>
              <!-- <div class="indicator-value">{{ currentState.lcmrPallet2.targetSpeed }} </div> -->
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn"
            (mousedown)="sendCommand('PALLET1HOME2', true)" (mouseup)="sendCommand('PALLET1HOME2', false)">PALLET-2
            HOME</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1INITIALIZE2', true)"
            (mouseup)="sendCommand('PALLET1INITIALIZE2', false)">PALLET-2 INITIALIZE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1OPENENABLE2', true)"
            (mouseup)="sendCommand('PALLET1OPENENABLE2', false)">PALLET-2 OP ENABLE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1JOGFORWARD2', true)"
            (mouseup)="sendCommand('PALLET1JOGFORWARD2', false)">PALLET-2 JOG FORWARD</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1JOGREVERSE2', true)"
            (mouseup)="sendCommand('PALLET1JOGREVERSE2', false)">PALLET-2 JOG REVERSE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1START2', true)"
            (mouseup)="sendCommand('PALLET1START2', false)">PALLET-2 START</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PALLET1STOP2', true)"
            (mouseup)="sendCommand('PALLET1STOP2', false)">PALLET-2 STOP</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE3', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE3', false)">ERROR ACKNOWLEDGE</button>
        </div>
      </div>
    </div>
  </div>
</div>
