<div class="machine-home-container">
  <div class="cards-wrapper">
    <!-- SCARA ROBOT YAMAHA Card -->
    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center">SHUTTLE TRANSFER SERVO</h3>
        <div class="indicators-section">
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">SHUTTLE TRANSFER MODE POS</div>
              <div class="indicator-value">{{ data?.ROBOTMODE }}</div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">CONTROLLER STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'CONNECTED' : value === 0 ? 'DISCONNECTED' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">PROGRAM STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'RUN' : value === 0 ? 'STOP' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL POS</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL SPEED</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn" (mousedown)="sendCommand('ABORTPROGRAM1', true)"
            (mouseup)="sendCommand('ABORTPROGRAM1', false)">
            HOME
          </button>
          <button class="toggle-btn" (mousedown)="sendCommand('HOMEPROGRAM1', true)"
            (mouseup)="sendCommand('HOMEPROGRAM1', false)">INITIALIZE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('MAINPROGRAM1', true)"
            (mouseup)="sendCommand('MAINPROGRAM1', false)">OP ENABLE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('INITIALIZEPROGRAM1', true)"
            (mouseup)="sendCommand('INITIALIZEPROGRAM1', false)">JOG FORWARD</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PAUSEPROGRAM1', true)"
            (mouseup)="sendCommand('PAUSEPROGRAM1', false)">JOG REVERSE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE1', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE1', false)">START</button>
          <button class="toggle-btn " (mousedown)="sendCommand('CONTINUEPROGRAM1', true)"
            (mouseup)="sendCommand('CONTINUEPROGRAM1', false)">STOP</button>

        </div>
      </div>
    </div>

    <!-- LCMR YAMAHA (PALLET-1) Card -->
    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center">NEST A SERVO</h3>
        <div class="indicators-section">
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">SHUTTLE TRANSFER MODE POS</div>
              <div class="indicator-value">{{ data?.ROBOTMODE }}</div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">CONTROLLER STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'CONNECTED' : value === 0 ? 'DISCONNECTED' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">PROGRAM STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'RUN' : value === 0 ? 'STOP' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL POS</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL SPEED</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn" (mousedown)="sendCommand('ABORTPROGRAM1', true)"
            (mouseup)="sendCommand('ABORTPROGRAM1', false)">
            HOME
          </button>
          <button class="toggle-btn" (mousedown)="sendCommand('HOMEPROGRAM1', true)"
            (mouseup)="sendCommand('HOMEPROGRAM1', false)">INITIALIZE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('MAINPROGRAM1', true)"
            (mouseup)="sendCommand('MAINPROGRAM1', false)">OP ENABLE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('INITIALIZEPROGRAM1', true)"
            (mouseup)="sendCommand('INITIALIZEPROGRAM1', false)">JOG FORWARD</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PAUSEPROGRAM1', true)"
            (mouseup)="sendCommand('PAUSEPROGRAM1', false)">JOG REVERSE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE1', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE1', false)">START</button>
          <button class="toggle-btn " (mousedown)="sendCommand('CONTINUEPROGRAM1', true)"
            (mouseup)="sendCommand('CONTINUEPROGRAM1', false)">STOP</button>

        </div>
      </div>
    </div>


    <div class="single-card-container">
      <div class="card">
        <h3 class="p-2 mt-2 text-center">NEST B SERVO </h3>
        <div class="indicators-section">
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">SHUTTLE TRANSFER MODE POS</div>
              <div class="indicator-value">{{ data?.ROBOTMODE }}</div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">CONTROLLER STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'CONNECTED' : value === 0 ? 'DISCONNECTED' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">PROGRAM STATUS</div>
              <div class="indicator-value" [style.font-weight]="value !== undefined ? 'bold' : 'normal'"
                [style.color]="value === 1 ? 'green' : value === 0 ? 'red' : 'black'">
                {{ value === 1 ? 'RUN' : value === 0 ? 'STOP' : '' }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL POS</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
          <div class="indicator-item">
            <div class="indicator-content">
              <div class="indicator-title mx-3">ACTUAL SPEED</div>
              <div class="indicator-value bold">
                {{ value }}
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-section">
          <button class="toggle-btn" (mousedown)="sendCommand('ABORTPROGRAM1', true)"
            (mouseup)="sendCommand('ABORTPROGRAM1', false)">
            HOME
          </button>
          <button class="toggle-btn" (mousedown)="sendCommand('HOMEPROGRAM1', true)"
            (mouseup)="sendCommand('HOMEPROGRAM1', false)">INITIALIZE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('MAINPROGRAM1', true)"
            (mouseup)="sendCommand('MAINPROGRAM1', false)">OP ENABLE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('INITIALIZEPROGRAM1', true)"
            (mouseup)="sendCommand('INITIALIZEPROGRAM1', false)">JOG FORWARD</button>
          <button class="toggle-btn" (mousedown)="sendCommand('PAUSEPROGRAM1', true)"
            (mouseup)="sendCommand('PAUSEPROGRAM1', false)">JOG REVERSE</button>
          <button class="toggle-btn" (mousedown)="sendCommand('ERRORACKNOWLEDGE1', true)"
            (mouseup)="sendCommand('ERRORACKNOWLEDGE1', false)">START</button>
          <button class="toggle-btn " (mousedown)="sendCommand('CONTINUEPROGRAM1', true)"
            (mouseup)="sendCommand('CONTINUEPROGRAM1', false)">STOP</button>

        </div>
      </div>
    </div>
  </div>
</div>