<div class="machine-home-container">
    <div class="master-data-header">
      <!-- <h4 class="text-center">Master Data Management</h4> -->
      <!-- <p class="text-center ">Configure system settings and parameters</p> -->
    </div>
    
    <div class="master-data-card">
      <div class="card-header">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <!-- <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-cogs me-2"></i>Machine Config
            </a>
            <ng-template ngbNavContent>
              <app-machine-config></app-machine-config>
            </ng-template>
          </li> -->
          <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-plug me-2"></i>Machine Config
            </a>
            <ng-template ngbNavContent>
              <app-machine-config></app-machine-config>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-users me-2"></i>Users
            </a>
            <ng-template ngbNavContent>
              <app-users></app-users>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-user-tie me-2"></i>User Access
            </a>
            <ng-template ngbNavContent>
              <app-access-policy></app-access-policy>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-plug me-2"></i>Message Master
            </a>
            <ng-template ngbNavContent>
              <app-alarm-master></app-alarm-master>
            </ng-template>
          </li>
          

          <!-- <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-bell me-2"></i>Alarm Master
            </a>
            <ng-template ngbNavContent>
              <app-alarm-master></app-alarm-master>
            </ng-template>
          </li> -->
          <!-- <li ngbNavItem>
            <a ngbNavLink class="nav-link">
              <i class="fas fa-plug me-2"></i>Reports
            </a>
            <ng-template ngbNavContent>
              <app-api-master></app-api-master>
            </ng-template>
          </li> -->
        </ul>
      </div>
      <div class="card-body">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>