<div class="machine-home-container">
  <div class="io-status-container ">
    <!-- <h3 class="text-center mb-3">IO STATUS MONITOR</h3> -->
    <div class="io-grid">
      <!-- Main Control Unit -->
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['STARTPB-MAINCONTROLUNIT'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['STARTPB-MAINCONTROLUNIT'] === true }"></div>
          <div class="io-label text-truncate" title="START PB - MAIN CONTROL UNIT">
            START PB - MAIN CONTROL UNIT
          </div>
        </div>
      </div>

      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['STOPPB-MAINCONTROLUNIT'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['STOPPB-MAINCONTROLUNIT'] === true }"></div>
          <div class="io-label text-truncate" title="STOP PB - MAIN CONTROL UNIT">
            STOP PB - MAIN CONTROL UNIT
          </div>
        </div>
      </div>

      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['HOLDPB-MAINCONTROLUNIT'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['HOLDPB-MAINCONTROLUNIT'] === true }"></div>
          <div class="io-label text-truncate" title="HOLD PB - MAIN CONTROL UNIT">
            HOLD PB - MAIN CONTROL UNIT
          </div>
        </div>
      </div>

      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['RESTARTPB-MAINCONTROLUNIT'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['RESTARTPB-MAINCONTROLUNIT'] === true }"></div>
          <div class="io-label text-truncate" title="HOLD PB - MAIN CONTROL UNIT">
            RESTART PB - MAIN CONTROL UNIT
          </div>
        </div>
      </div>

      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['EMERGENCYPB-MAINCONTROLUNIT'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['EMERGENCYPB-MAINCONTROLUNIT'] === true }"></div>
          <div class="io-label text-truncate" title="HOLD PB - MAIN CONTROL UNIT">
            EMERGENCY PB - MAIN CONTROL UNIT
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['STARTPB-INPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['STARTPB-INPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="START PB - INPUT CONVEYOR">
            START PB - INPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['EMERGENCYPB-INPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['EMERGENCYPB-INPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="EMERGENCY PB - INPUT CONVEYOR">
            EMERGENCY PB - INPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['EMERGENCYPB-OUTPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['EMERGENCYPB-OUTPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="EMERGENCY PB - OUTPUT CONVEYOR">
            EMERGENCY PB - OUTPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['AIRPRESSURESWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['AIRPRESSURESWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="AIR PRESSURE SWITCH">
            AIR PRESSURE SWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['UNLOADINGAREASENSOR-OUTPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['UNLOADINGAREASENSOR-OUTPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="UNLOADING AREA SENSOR - OUTPUT CONVEYOR">
            UNLOADING AREA SENSOR - OUTPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRYLOADINGAREASENSOR-OUTPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRYLOADINGAREASENSOR-OUTPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY LOADING AREA SENSOR - OUTPUT CONVEYOR">
            GANTRY LOADING AREA SENSOR - OUTPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['PARTPRESENTATROBOPICK-INPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['PARTPRESENTATROBOPICK-INPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="PART PRESENT AT ROBO PICK - INPUT CONVEYOR">
            PART PRESENT AT ROBO PICK - INPUT CONVEYOR
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['PARTPRESNTATCONVEYOREND-INPUTCONVEYOR'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['PARTPRESNTATCONVEYOREND-INPUTCONVEYOR'] === true }"></div>
          <div class="io-label text-truncate" title="PART PRESENT AT CONVEYOR END - INPUT CONVEYOR">
            PART PRESENT AT CONVEYOR END - INPUT CONVEYOR
          </div>
        </div>
      </div>
      <!-- Robot Systems -->
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['PARTPRESENTATROBOTGRIPPER-1(VACUUMFEEDBACK)'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['PARTPRESENTATROBOTGRIPPER-1(VACUUMFEEDBACK)'] === true }"></div>
          <div class="io-label text-truncate" title="PART PRESENT AT ROBOT GRIPPER -1 (VACUUM FEEDBACK)">
            PART PRESENT AT ROBOT GRIPPER -1 (VACUUM FEEDBACK)
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['PARTPRESENTATROBOTGRIPPER-2(VACUUMFEEDBACK)'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['PARTPRESENTATROBOTGRIPPER-2(VACUUMFEEDBACK)'] === true }"></div>
          <div class="io-label text-truncate" title="PART PRESENT AT ROBOT GRIPPER -2 (VACUUM FEEDBACK)">
            'PART PRESENT AT ROBOT GRIPPER -2 (VACUUM FEEDBACK)
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['ROBOTGRIPPER-1UP/DWNCYLUPSIDEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['ROBOTGRIPPER-1UP/DWNCYLUPSIDEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="ROBOT GRIPPER - 1 UP/DWN CYL UP SIDE REEDSWITCH">
            ROBOT GRIPPER - 1 UP/DWN CYL UP SIDE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['ROBOTGRIPPER-1UP/DWNCLYDWNSIDEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['ROBOTGRIPPER-1UP/DWNCLYDWNSIDEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="ROBOT GRIPPER - 1 UP/DWN CYL DWN SIDE REEDSWITCH">
            ROBOT GRIPPER - 1 UP/DWN CYL DWN SIDE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['ROBOTGRIPPER-2UP/DWNCYLUPSIDEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['ROBOTGRIPPER-2UP/DWNCYLUPSIDEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="ROBOT GRIPPER - 2 UP/DWN CYL UP SIDE REEDSWITCH">
            ROBOT GRIPPER - 2 UP/DWN CYL UP SIDE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['ROBOTGRIPPER-2UP/DWNCLYDWNSIDEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['ROBOTGRIPPER-2UP/DWNCLYDWNSIDEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="ROBOT GRIPPER - 2 UP/DWN CYL DWN SIDE REEDSWITCH">
            ROBOT GRIPPER - 2 UP/DWN CYL DWN SIDE REEDSWITCH
          </div>
        </div>
      </div>

      <!-- Fixture Systems -->
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1(VACUUMFEEDBACK)1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1(VACUUMFEEDBACK)1'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 (VACUUM FEEDBACK) 1">
            FIXTURE 1 (VACUUM FEEDBACK) 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1(VACUUMFEEDBACK)2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1(VACUUMFEEDBACK)2'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 (VACUUM FEEDBACK) 2">
            FIXTURE 1 (VACUUM FEEDBACK) 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1PARTPRESENT-1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1PARTPRESENT-1'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 PART PRESENT -1">
            FIXTURE 1 PART PRESENT -1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1PARTPRESENT-2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1PARTPRESENT-2'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 PART PRESENT -2">
            FIXTURE 1 PART PRESENT -2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1PARTPRESENT-3'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1PARTPRESENT-3'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 PART PRESENT -3">
            FIXTURE 1 PART PRESENT -3
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE1PARTPRESENT-4'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE1PARTPRESENT-4'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 1 PART PRESENT -4">
            FIXTURE 1 PART PRESENT -4
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2(VACUUMFEEDBACK)1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2(VACUUMFEEDBACK)1'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 (VACUUM FEEDBACK) 1">
            FIXTURE 2 (VACUUM FEEDBACK) 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2(VACUUMFEEDBACK)2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2(VACUUMFEEDBACK)2'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 (VACUUM FEEDBACK) 2">
            FIXTURE 2 (VACUUM FEEDBACK) 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2PARTPRESENT-1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2PARTPRESENT-1'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 PART PRESENT -1">
            FIXTURE 2 PART PRESENT -1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2PARTPRESENT-2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2PARTPRESENT-2'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 PART PRESENT -2">
            FIXTURE 2 PART PRESENT -2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2PARTPRESENT-3'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2PARTPRESENT-3'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 PART PRESENT -3">
            FIXTURE 2 PART PRESENT -3
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['FIXTURE2PARTPRESENT-4'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['FIXTURE2PARTPRESENT-4'] === true }"></div>
          <div class="io-label text-truncate" title="FIXTURE 2 PART PRESENT -4">
            FIXTURE 2 PART PRESENT -4
          </div>
        </div>
      </div>

      <!-- Gantry Systems -->
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1VACUUMFEEDBACK1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1VACUUMFEEDBACK1'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 VACUUM FEED BACK 1">
            GANTRY 1 VACUUM FEED BACK 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1VACUUMFEEDBACK2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1VACUUMFEEDBACK2'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 VACUUM FEED BACK 2">
            GANTRY 1 VACUUM FEED BACK 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1PARTPRESENT1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1PARTPRESENT1'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 PART PRESENT 1">
            GANTRY 1 PART PRESENT 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1PARTPRESENT2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1PARTPRESENT2'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 PART PRESENT 2">
            GANTRY 1 PART PRESENT 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1ROTARYCYL1ADVANCEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1ROTARYCYL1ADVANCEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 ROTARY CYL 1 ADVANCE REEDSWITCH">
            GANTRY 1 ROTARY CYL 1 ADVANCE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1ROTARYCYL1RETRACTREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1ROTARYCYL1RETRACTREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 ROTARY CYL 1 RETRACT REEDSWITCH">
            GANTRY 1 ROTARY CYL 1 RETRACT REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1ROTARYCYL2ADVANCEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1ROTARYCYL2ADVANCEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 ROTARY CYL 2 ADVANCE REEDSWITCH">
            GANTRY 1 ROTARY CYL 2 ADVANCE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1ROTARYCYL2RETRACTREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1ROTARYCYL2RETRACTREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 ROTARY CYL 2 RETRACT REEDSWITCH">
            GANTRY 1 ROTARY CYL 2 RETRACT REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1TOYOFWDLIMITSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1TOYOFWDLIMITSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 TOYO FWD LIMIT SWITCH">
            GANTRY 1 TOYO FWD LIMIT SWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY1TOYOREVLIMITSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY1TOYOREVLIMITSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 1 TOYO REV LIMIT SWITCH">
            GANTRY 1 TOYO REV LIMIT SWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2VACUUMFEEDBACK1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2VACUUMFEEDBACK1'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 VACUUM FEED BACK 1">
            GANTRY 2 VACUUM FEED BACK 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2VACUUMFEEDBACK2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2VACUUMFEEDBACK2'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 VACUUM FEED BACK 2">
            GANTRY 2 VACUUM FEED BACK 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2PARTPRESENT1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2PARTPRESENT1'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 PART PRESENT 1">
            GANTRY 2 PART PRESENT 1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2PARTPRESENT2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2PARTPRESENT2'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 PART PRESENT 2">
            GANTRY 2 PART PRESENT 2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2ROTARYCYL1ADVANCEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2ROTARYCYL1ADVANCEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 ROTARY CYL 1 ADVANCE REEDSWITCH">
            GANTRY 2 ROTARY CYL 1 ADVANCE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2ROTARYCYL1RETRACTREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2ROTARYCYL1RETRACTREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 ROTARY CYL 1 RETRACT REEDSWITCH">
            GANTRY 2 ROTARY CYL 1 RETRACT REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2ROTARYCYL2ADVANCEREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2ROTARYCYL2ADVANCEREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 ROTARY CYL 2 ADVANCE REEDSWITCH">
            GANTRY 2 ROTARY CYL 2 ADVANCE REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2ROTARYCYL2RETRACTREEDSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2ROTARYCYL2RETRACTREEDSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 ROTARY CYL 2 RETRACT REEDSWITCH">
            GANTRY 2 ROTARY CYL 2 RETRACT REEDSWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2TOYOFWDLIMITSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2TOYOFWDLIMITSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 TOYO FWD LIMIT SWITCH">
            GANTRY 2 TOYO FWD LIMIT SWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['GANTRY2TOYOREVLIMITSWITCH'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['GANTRY2TOYOREVLIMITSWITCH'] === true }"></div>
          <div class="io-label text-truncate" title="GANTRY 2 TOYO REV LIMIT SWITCH">
            GANTRY 2 TOYO REV LIMIT SWITCH
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-1'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-1'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -1">
            SAFETY DOOR -1
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-2'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-2'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -2">
            SAFETY DOOR -2
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-3'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-3'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -3">
            SAFETY DOOR -3
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-4'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-4'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -4">
            SAFETY DOOR -4
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-5'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-5'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -5">
            SAFETY DOOR -5
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-6'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-6'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -6">
            SAFETY DOOR -6
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-7'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-7'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -7">
            SAFETY DOOR -7
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-8'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-8'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -8">
            SAFETY DOOR -8
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-9'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-9'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -9">
            SAFETY DOOR -9
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-10'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-10'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -10">
            SAFETY DOOR -10
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-11'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-11'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -11">
            SAFETY DOOR -11
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-12'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-12'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -12">
            SAFETY DOOR -12
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-13'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-13'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -13">
            SAFETY DOOR -13
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-14'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-14'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -14">
            SAFETY DOOR -14
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-15'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-15'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -15">
            SAFETY DOOR -15
          </div>
        </div>
      </div>
      <div class="io-card text-center" [ngClass]="{ 'highlight': data?.['SAFETYDOOR-16'] === true }">
        <div class="card-body p-1 d-flex flex-column align-items-center">
          <div class="io-indicator" [ngClass]="{ 'active': data?.['SAFETYDOOR-16'] === true }"></div>
          <div class="io-label text-truncate" title="SAFETY DOOR -16">
            SAFETY DOOR -16
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
