<app-card [options]="false">
  <div class="mt-0">
    <app-toast-message></app-toast-message>
    <div class="text-end">
      <!-- Add Level Button -->
      <button type="button" class="btn custom-button" (click)="addRow()" [disabled]="currentlyEditingIndex !== -1">
        <i class="fas fa-plus"></i> Add User
      </button>      
    </div>

    <div class="table-wrapper">
      <table class="table table-bordered mt-2">
        <thead>
          <tr class="inner-shadow">
            <th class="sl-no-header">SL No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Password</th>
            <!-- <th>Email ID</th> -->
            <th class="role">Role</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedRows; let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>
              <input
                *ngIf="row.isEditing"
                type="text"
                [(ngModel)]="row.firstname"
                class="form-control"
                (input)="sanitizeInput(row, 'firstName')"
              />
              <span *ngIf="!row.isEditing">{{ row.firstname }}</span>
            </td>
            <td>
              <input
                *ngIf="row.isEditing"
                type="text"
                [(ngModel)]="row.lastname"
                class="form-control"
                (input)="sanitizeInput(row, 'lastName')"
              />
              <span *ngIf="!row.isEditing">{{ row.lastname }}</span>
            </td>
            <td>
              <input
                *ngIf="row.isEditing"
                type="text"
                [(ngModel)]="row.username"
                class="form-control"
                (input)="sanitizeInput(row, 'username')"
              />
              <span *ngIf="!row.isEditing">{{ row.username }}</span>
            </td>
            <td>
              <input
                *ngIf="row.isEditing"
                type="text"
                [(ngModel)]="row.password"
                class="form-control"
                (input)="sanitizeInput(row, 'password')"
                
              />
              <span *ngIf="!row.isEditing">{{ row.password }}</span>
            </td>
           <td>
            <div class="role-select">
              <select
                class="form-select"
                [(ngModel)]="row.roleid"
                [disabled]="!row.isEditing"
                (change)="selectRole(row, $event)" 
                required>
                <option value="" disabled>Select a role</option>
                <option *ngFor="let role of staticRoles" [value]="role.roleid">{{ role.roleName }}</option>
              </select>
              <small class="text-danger" *ngIf="row.isEditing && !row.roleid">Role  is mandatory</small>
            </div>
          </td>
            <td>

              
              <span
                class="mx-2 edit-icon"
                *ngIf="row.isEditing"
                (click)="saveRow(row)"
              >
                <i class="fas fa-check fa-lg"></i>
              </span>
              
              <span
                class="mx-2 edit-icon"
                *ngIf="!row.isEditing && currentlyEditingIndex === -1"
                (click)="editRow(row)"
              >
                <i class="fas fa-pen fa-lg"></i>
              </span>
              
              <span
                class="mx-2 cancel-icon"
                *ngIf="row.isEditing"
                (click)="cancelEdit(row, i)"
              >
                <i class="fas fa-times fa-lg"></i>
              </span>
              
              <span
                class="mx-2 lock-icon"
                *ngIf="!row.isEditing && currentlyEditingIndex === -1"
                (click)="openChangePasswordModal(row)"
              >
                <i class="fas fa-lock fa-lg"></i>
              </span>
              
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>

    <div class="text-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
          </li>
          <li class="page-item" [class.active]="page === currentPage" *ngFor="let page of [].constructor(totalPages); let i = index">
            <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</app-card>
<div class=" blurry-background ">
  <div class="footer">
      <div class="footer-content">
  
      </div>
  </div>
</div>
<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-labelledby="changePasswordModalLabel"
  aria-hidden="true"
  #changePasswordModal
>
  <div class="modal-dialog modal-sm modal-dialog-start">
    <div class="modal-content custom-modal-pink">
      <div class="modal-header">
        <div class="text-start">
          <img class="logo-image" src="/assets/Taneira20.webp" alt="Taneira Logo" loading="lazy" />
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordForm" >
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="newPassword"
              formControlName="newPassword"
              placeholder="Enter new password"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Confirm new password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">
            <i class="fas fa-lock me-2"></i>Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
