<div class="machine-home-container">
  <div class="card-grid">
    <div class="card-wrapper" *ngFor="let item of indicators | keyvalue: originalOrder">
      <div class="card"
           [class.bg-success]="item.value"
           [class.bg-light]="!item.value"
           [class.text-white]="item.value">
        <div class="card-body">
          <h6 class="card-title">{{ splitKey(item.key).code }}</h6>
          <p class="card-text">{{ splitKey(item.key).tagName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>